* {
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  font-weight: normal;
  font-family: serif;
  letter-spacing: 0.2vw;
  box-sizing: border-box;
}

body {
  background-color: #f3f2f2;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  padding: 3.2vw;
}

.header {
  padding: 3.2vw;
  background-color: #ccaf66;
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
}

.name {
  text-align: right;
}

.name h1 {
  font-weight: bold;
}

.content {
  padding: 3.2vw;
  background-color: #dad9d7;
  border-bottom-right-radius: 0.8vw;
  border-bottom-left-radius: 0.8vw;
}

table {
  margin: 0 auto;
}

td {
  padding-bottom: 1.6vw;
}

tr:last-child td {
  padding-bottom: 0;
}

td:first-child {
  text-align: right;
  padding-right: 0.8vw;
}

td:last-child {
  padding-left: 0.8vw;
}

input {
  padding: 0.8vw 1.6vw;
  background-color: #f3f2f2;
  border: none;
  border-radius: 0.8vw;
}

input:focus {
  outline-color: #ccaf66;
}

hr {
  margin-top: 3.2vw;
  border: 0.2vw solid #a9a5a2;
}

ul {
  list-style: none;
}

li:first-child {
  margin-top: 3.2vw;
}

li {
  margin-top: 1.6vw;
}

.footer {
  padding-top: 1.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset {
  font-weight: bold;
  padding: 1.6vw 3.2vw;
  background-color: #ccaf66;
  border: none;
  border-radius: 0.8vw;
}

.credits span {
  font-size: 2.8vw;
}

@media only screen and (min-width: 500px) {
  * {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .main {
    padding: 16px;
  }

  .header {
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .content {
    padding: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  td {
    padding-bottom: 8px;
  }

  td:first-child {
    padding-right: 4px;
  }

  td:last-child {
    padding-left: 4px;
  }

  input {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
  }

  hr {
    margin-top: 16px;
    border: 1px solid #a9a5a2;
  }

  li:first-child {
    margin-top: 16px;
  }

  li {
    margin-top: 8px;
  }

  .footer {
    padding-top: 8px;
  }

  .reset {
    padding: 8px 16px;
    border-radius: 4px;
  }

  .credits span {
    font-size: 14px;
  }
}
